@import "tailwindcss";

:root {
  --background: #f9f8f3;
  --foreground: #474455;
  --foreground-light: #aaa7b9;
  --primary-color-300: #b0a4ea;
  --primary-color-500: #3d27a5;
  --secondary-300: #dfedcd;
}

@theme inline {
  --color-primary-300: var(--primary-color-300);
  --color-primary-500: var(--primary-color-500);
  --color-secondary-300: var(--secondary-300);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/** Tertiary Section */
.separator li {
  position: relative;
}

.separator li:not(:last-child)::after {
  position: static;
  content: "";
  display: block;
  border-bottom: 1px solid var(--color-foreground-light);
  margin: 1.25rem auto;
  width: 100%;
  clear: both;
}

@media (min-width: 48rem) {
  .separator li:not(:last-child)::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -1rem;
    margin: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid var(--color-foreground-light);
    border-bottom: none;
  }
}
