@import "tailwindcss";

:root {
  --background: #f9f8f3;
  --foreground: #474455;
  --foreground-light: #aaa7b9;
  --primary-color-300: #b0a4ea;
  --primary-color-500: #3d27a5;
}

@theme inline {
  --color-primary-300: var(--primary-color-300);
  --color-primary-500: var(--primary-color-500);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
